//scss文件
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
//.table_container{
//  padding: 20px;
//}
.Pagination{
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}
/*上传图片容器样式*/
.avatar-uploader{
  width:120px;
}
.avatar-uploader .el-upload{
  border:1px dashed #d9d9d9;
  border-radius : 6px;
  cursor: pointer;
  position:relative;
  overflow: hidden;

}
.avatar-uploader .el-upload:hover{
  border-color:#20a0ff;
}
/*无图片时,+图标*/
.avatar-uploader-icon{
  font-size:28px;
  color:#8c939d;
  width:120px;
  height:120px;
  text-align: center;
  line-height: 120px;
}
/*图片大小*/
.avatar{
  width:120px;
  height:120px;
  display: block;
}
/*表格cell*/
.cell{
  text-align: center;
}
//通用顶部查询条件样式
.toolbar{
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0px;
  .el-form-item{
    margin-bottom:0;
  }
}